[submodule "kernel/newlib"]
	path = kernel/newlib
	url = https://github.com/bminor/newlib
[submodule "rekernel/picolibc"]
	path = rekernel/picolibc
    branch = general-regs-only
	url = https://github.com/zyedidia/picolibc
